<p>Dear <%= @recipient.username %>, </p>

<p>You have a message waiting for you at <%= link_to "Codelegy", domain_url %>. Go to your inbox to read it.
</p>

To unsubscribe to email notifications, login to your codelegy account to change settings.
