<p>Dear <%= @user %>, </p>

<p>You have a new member request for <%= @project %>! </p>
<p>
<%= link_to "Go to your codelegy dashboard", domain_url %> to see the details.
</p>

To unsubscribe to email notifications, login to your codelegy account to change settings.
