<main>
  <div class="row">

    <div class="col-md-10">
      <ui-view>
        <h2>Inbox</h2>
        <hr>
        <div class="col-md-6" ng-repeat="email in inbox">

          <div ng-click=showEmail($index)>
            <h5>From: {{email.sender_username}} at {{email.date | date}}</h5>
            <h4>{{email.subject}}</h4>
            <div ng-show="emailDetails[$index]">
              <h3>{{email.body}}</h3>

            </div>
          </div>
          <hr>
        </div>
      <ui-view>
    </div>

  </div>
</main>
