
<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <!-- <img src="assets/img/brand-white.png" alt="brand"> -->
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

      <ul class="nav navbar-nav hidden-xs">
        <li class="active megrim">
          <a ui-sref="home">Codelegy</a>
        </li>
        <li>
          <a href="#">Showcase</a>
        </li>
        <li>
          <a ui-sref="projects">Projects</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
        <li >
          <a class="app-notifications" ui-sref="inbox">
            <span class="icon icon-bell"></span>
          </a>
        </li>

        <li><a ui-sref="home.signin" ng-if='!authenticated.status'>Sign In</a></li>
        <li><a ui-sref="home.form.signup" ng-if='!authenticated.status'>Sign Up</a></li>

        <li ng-if='authenticated.status'>
          <a ui-sref='dashboard'>
            Welcome {{currentUser.user.username}}
          </a>
        </li>
        <li>
          <a  ui-sref="home.signin"
              ng-if='authenticated.status'
              ng-click='signOut()'>
            Sign Out
          </a>
        </li>
      </ul>
  </nav>
