<ui-view>
 <div id="parallax"></div>
 <section id="section-hero" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6 intro">
            <h1 class="frontpage-logo">Codelegy</h1>
            <!-- <p class="lead">Warning, this template was built to blast your audience!</p><a href="##section-features" class="btn btn-hg btn-primary">Learn More</a><a href="##section-gallery" class="btn btn-hg btn-inverse inline">View Gallery</a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- ///// FEATURES SECTION /////-->
    <section id="section-features" class="features">
      <div class="container">
        <header>
          <h1>What's <span class="bangers">Codelegy?</span></h1>
          <p class="lead">Find others to code with</p>
        </header>
        <div class="row">
          <!-- Feature Item 1-->
          <div class="col-md-4 text-center">
            <div class="feature-icon"><img src="img/icons/user-interface.svg" alt="" title=""></div>
            <h4>Group Projects</h4>
            <p>Find groups or a partner to code with on a project or kata.</p>
          </div>
          <!-- Feature Item 2-->
          <div class="col-md-4 text-center">
            <div class="feature-icon"><img src="img/icons/settings.svg" alt="" title=""></div>
            <h4>Learn Skills</h4>
            <p>We have found that learning with others is exponentially more effective for expanding your tool set</p>
          </div>
          <!-- Feature Item 3-->
          <div class="col-md-4 text-center">
            <div class="feature-icon"><img src="img/icons/pc.svg" alt="" title=""></div>
            <h4>Meetups from home</h4>
            <p>All the benefits of meetups from your seat at home!.</p>
          </div>
        </div>
      </div>
    </section>
  

   
    <!-- ///// TESTIMONIALS SECTION /////-->
    <section id="section-testimonials" class="testimonials">
      <div class="container">
        <div class="row">
          <!-- ////////// Another Carousel Slider //////////-->
          <div id="testimonials-slider" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
              <li data-target="#testimonials-slider" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items-->
            <div class="carousel-inner">
              <!-- Testimonial 1-->
              <div class="active item">
                <div class="col-md-2 col-md-offset-1">
                  <div class="quote-icon"><img src="img/icons/dude.svg" alt="" title=""></div>
                </div>
                <div class="col-md-8">
                  <p class="lead">Well... honestly it doesn"t get much better than this! These guys know what they"re doing!</p>
                  <cite>John Doe, <a href="#">Freelance Journalist</a></cite>
                </div>
              </div>
              <!-- Testimonial 2-->
              <div class="item">
                <div class="col-md-2 col-md-offset-1">
                  <div class="quote-icon"><img src="img/icons/girl.svg" alt="" title=""></div>
                </div>
                <div class="col-md-8">
                  <p class="lead">If i had to do it again, i"d definitely go with the same team - that was an amazing experience.</p>
                  <cite>Sarah Jackson, <a href="#">Startup Owner</a></cite>
                </div>
              </div>
            </div>
            <!-- Carousel navigation arrows--><a href="#testimonials-slider" data-slide="prev" class="carousel-control fui-arrow-left left"></a><a href="#testimonials-slider" data-slide="next" class="carousel-control fui-arrow-right right"></a>
          </div>
          <!-- ////////// end of Carousel Slider //////////-->
        </div>
      </div>
    </section>
    <!-- ///// FAQ SECTION /////-->
    <section id="section-faq" class="faq">
      <div class="container">
        <header>
          <h1>F.A.Q.</h1>
          <p class="lead">You have a question? Someone else might have had the exact same one. Lets find out!</p>
        </header>
        <div class="row">
          <div class="col-md-6">
            <!-- ////////// Accordion Toggle //////////-->
            <div id="accordion" class="panel-group">
              <!-- PANEL 1-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="accordion-toggle">Is this template compatible with Bootstrap 3?</a></div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Absolutely! As shown with a few examples within this demo, you can use all the bootstrap goodies such as carousels, modal windows, tooltips, tabs, accordions, form elements...</p>
                  </div>
                </div>
              </div>
              <!-- PANEL 2-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="accordion-toggle">Are there more icons available?</a></div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Hell yeah! This template is built on the awesome <a href="http://designmodo.com/flat/" target="_blank">Flat UI Pro kit by Designmodo</a>.<br>All the icons &#38; goodies you can see on the kit presentation can be used in Booom!</p>
                  </div>
                </div>
              </div>
              <!-- PANEL 3-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="accordion-toggle">Can you resize the illustrations?</a></div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Those gorgeous illustrations are available in SVG format (vector), which means they"re completely scaleable without any quality loss.</p>
                  </div>
                </div>
              </div>
              <!-- PANEL 4-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="accordion-toggle">Does the template hack into Bootsrap core files?</a></div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Nooooo. Yeww, no way! The Bootsrap files are totally untouched - all the customizations are done on extra css (or LESS) files, so you can upgrade bootstrap versions wihout any modification losses.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- ////////// end of Accordion Toggle //////////-->
            <div class="alert alert-info">
              <p class="lead">Our Contact Details</p>
              <div class="row">
                <div class="col-md-4 col-xs-6 text-left"><strong>Address</strong></div>
                <div class="col-md-8 col-xs-6">
                  <address>144 Pitt Street, Byron Bay, Australia<br></address>
                </div>
              </div>
              <!-- /row-->
              <div class="row">
                <div class="col-md-4 col-xs-6 text-left"><strong>Phone Number</strong></div>
                <div class="col-md-8 col-xs-6">
                  <address>+61 (0) 243 888 888<br></address>
                </div>
              </div>
              <!-- /row-->
              <div class="row">
                <div class="col-md-4 col-xs-6 text-left"><strong>Mobile Number</strong></div>
                <div class="col-md-8 col-xs-6">
                  <address>+61 (0) 424 999 999<br></address>
                </div>
              </div>
              <!-- /row-->
            </div>
            <!-- /alert-->
          </div>
          <!-- /col-md-6-->
          <div class="col-md-6">
            <div class="row contact-intro">
              <div class="col-md-3 text-right"><img src="img/icons/support.svg" alt="" title=""></div>
              <div class="col-md-9">
                <p class="lead">Didnt find what you were looking for? Shoot us a line!</p>
              </div>
            </div>
            <!-- ////////// CONTACT FORM //////////-->
            <form id="contact-form">
              <input id="name" type="text" name="name" placeholder="Your name..." class="form-control input-hg">
              <input id="email" type="text" name="email" placeholder="Your e-mail address..." class="form-control input-hg">
              <textarea id="message" rows="4" name="message" placeholder="Your message..." class="form-control input-hg"></textarea>
              <button type="submit" name="submit" class="btn btn-inverse btn-hg btn-block">Send</button>
            </form>
            <div id="contact-error"></div>
            <!-- ////////// end CONTACT FORM ///////////-->
          </div>
          <!-- /col-md-6-->
        </div>
      </div>
    </section>
    <!-- ///// TWITTER SECTION /////-->
    <section id="twitter" class="twitter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center"><img src="img/icons/chat.svg" alt="" title="">
            <p class="lead"><span id="tweets-feed" class="lead"></span></p>
          </div>
        </div>
      </div>
    </section>
    <!-- ///// FOOTER SECTION /////-->
    <footer class="footer">
      <div class="bottom-menu-inverse">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>Copyright &#169; 2015 Codelegy</p>
            </div>
            <div class="col-md-6 social">
              <ul class="bottom-menu-iconic-list pull-right">
                <li><a href="#" class="fui-facebook"></a></li>
                <li><a href="#" class="fui-twitter"></a></li>
                <li><a href="#" class="fui-pinterest"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row-->
      </div>
      <!-- /container-->
    </footer>
</ui-view>