<ui-view>
 <div id="parallax"></div>
 <section id="section-hero" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-md-6 intro">
            <h1 class="frontpage-logo">Codelegy</h1>
            <!-- <p class="lead">Warning, this template was built to blast your audience!</p><a href="##section-features" class="btn btn-hg btn-primary">Learn More</a><a href="##section-gallery" class="btn btn-hg btn-inverse inline">View Gallery</a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- ///// FEATURES SECTION /////-->
    <section id="section-features" class="features">
      <div class="container">
        <header>
          <h1>What is <span class="bangers p-text">Codelegy?</span></h1>
          <p class="lead">Find others to code with</p>
        </header>
        <div class="row">
          <!-- Feature Item 1-->
          <div class="col-md-4 text-center">
            <div class="feature-icon"><img src="img/icons/user-interface.svg" alt="" title=""></div>
            <h4>Group Projects</h4>
            <p>Find groups or a partner to code with on a project or kata.</p>
          </div>
          <!-- Feature Item 2-->
          <div class="col-md-4 text-center">
            <div class="feature-icon"><img src="img/icons/settings.svg" alt="" title=""></div>
            <h4>Learn Skills</h4>
            <p>We have found that learning with others is exponentially more effective for expanding your tool set</p>
          </div>
          <!-- Feature Item 3-->
          <div class="col-md-4 text-center">
            <div class="feature-icon"><img src="img/icons/pc.svg" alt="" title=""></div>
            <h4>Meetups from home</h4>
            <p>All the benefits of meetups from your seat at home!.</p>
          </div>
        </div>
      </div>
    </section>
  

   
    <!-- ///// TESTIMONIALS SECTION /////-->
    <section id="section-testimonials" class="testimonials">
      <div class="container">
        <div class="row">
          <!-- ////////// Another Carousel Slider //////////-->
          <div id="testimonials-slider" class="carousel slide">
            <ol class="carousel-indicators">
              <li data-target="#testimonials-slider" data-slide-to="0" class="active"></li>
              <li data-target="#testimonials-slider" data-slide-to="1"></li>
            </ol>
            <!-- Carousel items-->
            <div class="carousel-inner">
              <!-- Testimonial 1-->
              <div class="active item">
                <div class="col-md-2 col-md-offset-1">
                  <div class="quote-icon"><img src="img/icons/dude.svg" alt="" title=""></div>
                </div>
                <div class="col-md-8">
                  <p class="lead"> learning to code without pair programming is like trying to learn Spanish by talking to yourself!</p>
                  <cite>Marcus Moore, <a href="https://marcusmooreweb.wordpress.com/">Web developer/designer</a></cite>
                </div>
              </div>
              <!-- Testimonial 2-->
              <div class="item">
                <div class="col-md-2 col-md-offset-1">
                  <div class="quote-icon"><img src="img/icons/girl.svg" alt="" title=""></div>
                </div>
                <div class="col-md-8">
                  <p class="lead">I learned much faster with others, also picked up a ton of time saving techniques</p>
                  <cite>Mike Butts, <a href="http://www.michaelbutts.me">Full-Stack Developer</a></cite>
                </div>
              </div>
            </div>
            <!-- Carousel navigation arrows--><a href="#testimonials-slider" data-slide="prev" class="carousel-control fui-arrow-left left"></a><a href="#testimonials-slider" data-slide="next" class="carousel-control fui-arrow-right right"></a>
          </div>
          <!-- ////////// end of Carousel Slider //////////-->
        </div>
      </div>
    </section>
    <!-- ///// FAQ SECTION /////-->
    <section id="section-faq" class="faq">
      <div class="container">
        <header>
          <h1 class="p-text bangers">F.A.Q.</h1>
          <p class="lead">You have a question? Someone else might have had the exact same one. Lets find out!</p>
        </header>
        <div class="row">
          <div class="col-md-6">
            <!-- ////////// Accordion Toggle //////////-->
            <div id="accordion" class="panel-group">
              <!-- PANEL 1-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="accordion-toggle">Will you tech me code?</a></div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>No, that's not what we are about, however, we will point you in the direction to head. And find other's at your skill level to learn with.</p>
                  </div>
                </div>
              </div>
              <!-- PANEL 2-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="accordion-toggle">How much will this cost me?</a></div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Nothing! The site will always be free to find people to code with!</p>
                  </div>
                </div>
              </div>
              <!-- PANEL 3-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="accordion-toggle">What if the language I want isn't an option?</a></div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>There are two solutions for this, first, you can post in a related language if avaliable. If you want to pair with others for ReactJs, then post in the JavaScript category. Second if you feel that something should be added shoot us an <a href="mailto:devteam@codelegy.xyz?Subject=Add%20Language" target="_top">email</a></p>
                  </div>
                </div>
              </div>
              <!-- PANEL 4-->
              <div class="panel panel-success">
                <div class="panel-heading"><a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="accordion-toggle">How do I report bugs or pitch new ideas?</a></div>
                <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>We are open to feedback, ideas, suggestions, volunteer work, just send a an <a href="mailto:devteam@codelegy.xyz?Subject=Add%20Language" target="_top">email</a> and we will get in touch</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- ////////// end of Accordion Toggle //////////-->

          </div>
          <!-- /col-md-6-->
          <div class="col-md-6">
              <img class="img-responsive"  src="img/31.jpg" alt="laptops" title="">          
          </div>
          <!-- /col-md-6-->
        </div>
      </div>
    </section>
    <!-- ///// TWITTER SECTION /////-->
<!--     <section id="twitter" class="twitter">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center"><img src="img/icons/chat.svg" alt="" title="">
         
          </div>
        </div>
      </div>
    </section> -->
    <!-- ///// FOOTER SECTION /////-->
    <footer class="footer">
      <div class="bottom-menu-inverse">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>Copyright &#169; 2015 Codelegy</p>
            </div>
            <div class="col-md-6 social">
              <ul class="bottom-menu-iconic-list pull-right">
                <li><a href="#" class="fui-facebook"></a></li>
                <li><a href="https://twitter.com/CodelegyXYZ" class="fui-twitter"></a></li>
                <!-- <li><a href="#" class="fui-pinterest"></a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <!-- /row-->
      </div>
      <!-- /container-->
    </footer>
</ui-view>