

<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <form role="form" class="m-x-auto text-center app-login-form">

      <a href="../index.html" class="app-brand m-b-lg">
        <img src="../assets/img/brand.png" alt="brand">
      </a>

      <div class="form-group">
        <input class="form-control" placeholder="Username">
      </div>

      <div class="form-group m-b-md">
        <input type="password" class="form-control" placeholder="Password">
      </div>

      <div class="m-b-lg">
        <button class="btn btn-primary">Log In</button>
        <button class="btn btn-default">Sign up</button>
      </div>

      <footer class="screen-login">
        <a href="#" class="text-muted">Forgot password</a>
      </footer>
    </form>
  </div>
</div>


    // <script>
    //   // execute/clear BS loaders for docs
    //   $(function(){
    //     if (window.BS&&window.BS.loader&&window.BS.loader.length) {
    //       while(BS.loader.length){(BS.loader.pop())()}
    //     }
    //   })
    // </script>
