
<hr><hr>

<main>
  <br>

  <div class="container-fluid">

    <div class="page-header">
      <h1 class="h3 pull-left margin-none">Projects</h1>

      <div class="clearfix"></div>
    </div>
    <div class="row" ng-repeat="project in list.projectList.projects | orderBy:'-created_at': false">
      <div class='col-sm-12'>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>{{project.title}}</h4>
            <hr>
            <h5>{{project['owner?'] ? "Project Owner" : project.member_status }} </h5>
            <p class="small text-muted">
              <div ng-hide="moreThan24HrsAgo(project.created_at)">
                <i class="fa fa-clock-o fa-fw"></i>
                <time am-time-ago="project.created_at"></time>
              </div>
              <div ng-show="moreThan24HrsAgo(project.created_at)">
                <i class="fa fa-calendar fa-fw"></i>
                <time title="{{ project.created_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ project.created_at | amCalendar }}</time>
              </div>
            </p>
            <strong>Est. Difficulty: </strong>{{project.difficulty_name}} <br>
            <strong>Times:</strong> {{project.availability}} <br>
            <strong>Languages:</strong>
            <img ng-repeat="lang in project.languages" ng-src="{{lang.url}}" alt="{{lang.name}}"
            style="width:20px;margin:5px"> <br>

            <button ng-show='project["owner?"]' data-toggle="modal" data-target="#myModal{{project.id}}">
              {{project.pending_member_count ? (project.pending_member_count + ' Pending ') : 'Manage '}}
              Membership
            </button>

          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{{project.title}}</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class= "col-md-7">
                <div class="panel panel-default">
                  <div class = 'panel-heading'>
                    <h4 class ='panel-title'>Project Description</h4>
                  </div>
                  <div class="panel-body">
                    {{project.description}}
                  </div>
                </div>
              </div>
                <div class="col-md-5">
                <div class=" panel panel-default">
                  <div class = 'panel-heading'>
                    <h4 class ='panel-title'>Project Members</h4>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <li>Owner</li>
                      <li ng-repeat="membership in project.memberships" ng-hide="membership.participant_type=='owner'">
                        {{membership.user}}
                        <button class="btn btn-success btn-xs"
                        ng-show="membership.participant_type=='pending'"
                        ng-click="changeMembership(membership, project, true)"
                        >
                          Accept
                        </button>
                        <button class="btn btn-danger btn-xs"
                        ng-show="membership.participant_type=='pending'"
                        ng-click="changeMembership(membership, project, false)"
                        >
                          Reject
                        </button>
                        <span ng-show="membership.participant_type == 'rejected'">
                          (Rejected)
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>


            </div>
<!--             <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>

    </div>

  </div>


</main>


