<div class="modal fade" id="memberModal{{project.id}}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>

          <h3 class="modal-title">{{project.title}}</h3>


        <div class="row">
          <p class='col-sm-6 pull left'>
            <a href="" aria-hidden="true" ng-click="close()" data-dismiss="modal">
              close?
            </a>
          </p>
        </div>
      </div>

      <div class="modal-body">
        <div>
          <p>{{project.description}}</p>
        </div>

        <hr>

      </div>
    </div>
  </div>
</div>