<ui-view>
<hr><hr>

<main>
  <br>

  <div class="container-fluid">

    <div class="page-header">
      <h1 class="h3 pull-left margin-none">Projects</h1>

      <div class="clearfix"></div>
    </div>
    <div  ng-repeat="project in list.projectList.projects">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media media-clearfix-xs-min">

            <div class="media-body">
              <h3 class="media-heading h4">{{project.title}}</h3>
              <h4>{{project['owner?'] ? "Project Owner" : "Project Member"}} </h4>
              <!-- ? "Project Owner" : "Project Member" -->
              <p class="small text-muted">
                <i class="fa fa-clock-o fa-fw"></i> <time am-time-ago="project.created_at"></time>
                <i class="fa fa-user fa-fw"></i> user here?
                <i class="fa fa-calendar fa-fw"></i> <time title="{{ project.created_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}">{{ project.created_at | amCalendar }}</time>
              </p>

              <p>{{project.description}}{{project}}</p>
              <!-- <span class="label bg-gray-dark">New</span> -->
              <span class="label label-primary">WordPress</span>
              <span class="label label-warning">{{project.difficulty_name}}</span>
              <button ng-show='project["owner?"]' ng-click="manageMembers($index)">
                {{project.pending_member_count ? (project.pending_member_count + 'Pending ') : 'Manage '}}
                Membership
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
</ui-view>