
    <!-- Fixed navbar -->
    <div class="navbar navbar-main navbar-primary megrim navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#sidebar-chat" data-toggle="sidebar-menu" class="toggle pull-right visible-xs"><i class="fa fa-comments"></i></a>
          <a class="navbar-brand" href="index.html">Codelegy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">
            <li><a href="tutors.html">Showcase</a></li>
            <li><a href="survey.html">Projects</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li><a ui-sref="home.login">Sign In</a></li>
            <li><a href="login.html">Sign Out</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

      </div>
    </div>

    <!-- content push wrapper -->
    <div class="st-pusher" id="content">

      <!-- sidebar effects INSIDE of st-pusher: -->
      <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

      <!-- this is the wrapper for the content -->
      <div class="st-content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner">

          <div class="cover overlay cover-image-full home">
            <img src="images/photodune-6745579-modern-creative-man-relaxing-on-workspace-m.jpg" alt="" />

            <div class="overlay overlay-bg-black">
              <div class="container">
                <div class="page-section">
                  <h1 class="margin-none text-display-1 text-overlay">Finding others to code with, it's <span class="megrim">Codelegy</span></h1>

                  <p class="text-subhead text-overlay">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consectetur consequatur distinctio earum ipsam. <span class="hidden-xs hidden-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus hic
                    quisquam reprehenderit vero voluptatum? Accusantium in nesciunt perspiciatis repellendus sed! Aliquid
                    architecto ducimus optio reprehenderit.</span></p>

                  <br/>
                  <a class="btn bg-lightred btn-lg" href="">Sign Up</a>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="text-center">
              <h2>Features &amp; Highlights</h2>

              <p class="lead text-muted">Learn about all of the features we offer.</p>
              <br/>
            </div>
            <div class="row" data-toggle="gridalicious">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <i class="fa fa-film fa-2x fa-fw pull-left text-muted"></i>

                    <div class="media-body">
                      <p class="lead margin-none">Watch Courses Offline</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <i class="fa fa-life-bouy fa-2x fa-fw pull-left text-muted"></i>

                    <div class="media-body">
                      <p class="lead margin-none">Premium Support</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <i class="fa fa-user fa-2x fa-fw pull-left text-muted"></i>

                    <div class="media-body">
                      <p class="lead margin-none">Learn from Top Tutors</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <i class="fa fa-code fa-2x fa-fw pull-left text-muted"></i>

                    <div class="media-body">
                      <p class="lead margin-none">Lesson Source Files</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <i class="fa fa-print fa-2x fa-fw pull-left text-muted"></i>

                    <div class="media-body">
                      <p class="lead margin-none">Printed Graduation Diploma</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="media">
                    <i class="fa fa-tasks fa-2x fa-fw pull-left text-muted"></i>

                    <div class="media-body">
                      <p class="lead margin-none">New Lessons Every Day</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="text-center">
              <h2>Feedback</h2>

              <p class="lead text-muted">How others use E-learning to improve their skills</p>
              <br/>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="media">
                  <img src="images/people/50/guy-6.jpg" alt="People" class="pull-left img-circle media-object" />

                  <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quo!</p>
                    <p>
                      <strong>Adrian D. <span class="text-muted">@ Mosaicpro Inc.</span></strong>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="media">
                  <img src="images/people/50/guy-2.jpg" alt="People" class="pull-left img-circle media-object" />

                  <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quo!</p>
                    <p>
                      <strong>Jonathan S. <span class="text-muted">@ Company Inc.</span></strong>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="media">
                  <img src="images/people/50/guy-9.jpg" alt="People" class="pull-left img-circle media-object" />

                  <div class="media-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, quo!</p>
                    <p>
                      <strong>Bogdan L. <span class="text-muted">@ Mosaicpro Inc.</span></strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <br/>

          </div>

        </div>
        <!-- /st-content-inner -->

      </div>
      <!-- /st-content -->

    </div>
    <!-- /st-pusher -->

    <!-- Footer -->
    <footer class="footer">
      <strong class="megrim">Codelegy</strong>  &copy; Copyright 2015
    </footer>
    <!-- // Footer -->

  </div>
  <!-- /st-container -->

  <!-- Inline Script for colors and config objects; used by various external scripts; -->
  <script>
    var colors = {
      "danger-color": "#e74c3c",
      "success-color": "#81b53e",
      "warning-color": "#f0ad4e",
      "inverse-color": "#2c3e50",
      "info-color": "#2d7cb5",
      "default-color": "#6e7882",
      "default-light-color": "#cfd9db",
      "purple-color": "#9D8AC7",
      "mustard-color": "#d4d171",
      "lightred-color": "#e15258",
      "body-bg": "#f6f6f6"
    };
    var config = {
      theme: "learning",
      skins: {
        "default": {
          "primary-color": "#16ae9f"
        },
        "orange": {
          "primary-color": "#e74c3c"
        },
        "blue": {
          "primary-color": "#4687ce"
        },
        "purple": {
          "primary-color": "#af86b9"
        },
        "brown": {
          "primary-color": "#c3a961"
        }
      }
    };
  </script>

  <!-- Vendor Scripts Bundle
    Includes all of the 3rd party JavaScript libraries above.
    The bundle was generated using modern frontend development tools that are provided with the package
    To learn more about the development process, please refer to the documentation.
    Do not use it simultaneously with the separate bundles above. -->
  <script src="js/vendor/all.js"></script>

  <!-- Vendor Scripts Standalone Libraries -->
  <!-- <script src="js/vendor/core/all.js"></script> -->
  <!-- <script src="js/vendor/core/jquery.js"></script> -->
  <!-- <script src="js/vendor/core/bootstrap.js"></script> -->
  <!-- <script src="js/vendor/core/breakpoints.js"></script> -->
  <!-- <script src="js/vendor/core/jquery.nicescroll.js"></script> -->
  <!-- <script src="js/vendor/core/isotope.pkgd.js"></script> -->
  <!-- <script src="js/vendor/core/packery-mode.pkgd.js"></script> -->
  <!-- <script src="js/vendor/core/jquery.grid-a-licious.js"></script> -->
  <!-- <script src="js/vendor/core/jquery.cookie.js"></script> -->
  <!-- <script src="js/vendor/core/jquery-ui.custom.js"></script> -->
  <!-- <script src="js/vendor/core/jquery.hotkeys.js"></script> -->
  <!-- <script src="js/vendor/core/handlebars.js"></script> -->
  <!-- <script src="js/vendor/core/jquery.hotkeys.js"></script> -->
  <!-- <script src="js/vendor/core/load_image.js"></script> -->
  <!-- <script src="js/vendor/core/jquery.debouncedresize.js"></script> -->
  <!-- <script src="js/vendor/tables/all.js"></script> -->
  <!-- <script src="js/vendor/forms/all.js"></script> -->
  <!-- <script src="js/vendor/media/all.js"></script> -->
  <!-- <script src="js/vendor/player/all.js"></script> -->
  <!-- <script src="js/vendor/charts/all.js"></script> -->
  <!-- <script src="js/vendor/charts/flot/all.js"></script> -->
  <!-- <script src="js/vendor/charts/easy-pie/jquery.easypiechart.js"></script> -->
  <!-- <script src="js/vendor/charts/morris/all.js"></script> -->
  <!-- <script src="js/vendor/charts/sparkline/all.js"></script> -->
  <!-- <script src="js/vendor/maps/vector/all.js"></script> -->
  <!-- <script src="js/vendor/tree/jquery.fancytree-all.js"></script> -->
  <!-- <script src="js/vendor/nestable/jquery.nestable.js"></script> -->
  <!-- <script src="js/vendor/angular/all.js"></script> -->

  <!-- App Scripts Bundle
    Includes Custom Application JavaScript used for the current theme/module;
    Do not use it simultaneously with the standalone modules below. -->
  <script src="js/app/app.js"></script>

  <!-- App Scripts Standalone Modules
    As a convenience, we provide the entire UI framework broke down in separate modules
    Some of the standalone modules may have not been used with the current theme/module
    but ALL the modules are 100% compatible -->

  <!-- <script src="js/app/essentials.js"></script> -->
  <!-- <script src="js/app/layout.js"></script> -->
  <!-- <script src="js/app/sidebar.js"></script> -->
  <!-- <script src="js/app/media.js"></script> -->
  <!-- <script src="js/app/player.js"></script> -->
  <!-- <script src="js/app/timeline.js"></script> -->
  <!-- <script src="js/app/chat.js"></script> -->
  <!-- <script src="js/app/maps.js"></script> -->
  <!-- <script src="js/app/charts/all.js"></script> -->
  <!-- <script src="js/app/charts/flot.js"></script> -->
  <!-- <script src="js/app/charts/easy-pie.js"></script> -->
  <!-- <script src="js/app/charts/morris.js"></script> -->
  <!-- <script src="js/app/charts/sparkline.js"></script> -->

  <!-- App Scripts CORE [learning]:
        Includes the custom JavaScript for this theme/module;
        The file has to be loaded in addition to the UI modules above;
        app.js already includes main.js so this should be loaded
        ONLY when using the standalone modules; -->
  <!-- <script src="js/app/main.js"></script> -->
