<h1>profile</h1>

<!-- Profile info -->
<div class="panel panel-default panel-profile m-b-md">
  <div class="panel-heading" style="background-image: url(assets/iceland.jpg);">
  </div>
  <div class="panel-body text-center">
    <a href="profile/index.html">
      <img
        class="panel-profile-img"
        src="assets/avatar-dhg.png">
    </a>

    <h5 class="panel-title">
      <a class="text-inherit" href="">{{information.user.username}}
      </a>
    </h5>

    <div class="m-b-md">

      <div class="panel-title text-center"
          ng-hide='updateFieldForAbout'
          ng-click='updateFieldForAbout = !updateFieldForAbout'>
          {{information.about || "Add a note"}}
      </div>

      <div class="panel-title text-center"
            ng-show='updateFieldForAbout'>
        <div class='row'>

          <div class='col-sm-8'>
            <input  type='text'
                    id='updatedAbout'
                    ng-model='profileUpdates.about'
                    ng-value='information.about'
                    placeholder="information.about">
          </div>

          <div class='col-sm-2'>
            <span class="glyphicon glyphicon-remove"
                  aria-hidden="true"
                  ng-click='updateFieldForAbout = false'>
            </span>
          </div>

          <div class='col-sm-2'>
            <span class="glyphicon glyphicon-ok"
                  aria-hidden="true"
                  ng-click='update(); updateFieldForAbout = false'>
            </span>
          </div>

        </div>
      </div>



    </div>

    <ul class="panel-menu">
      <li class="panel-menu-item">
        <a href="#userModal" class="text-inherit" data-toggle="modal">
          Friends
          <h5 class="m-y-0">12M</h5>
        </a>
      </li>

      <li class="panel-menu-item">
        <a href="#userModal" class="text-inherit" data-toggle="modal">
          Enemies
          <h5 class="m-y-0">1</h5>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Availability -->
<div class="panel panel-default visible-md-block visible-lg-block">

<div class="panel-body">

    <h5 class="m-t-0">
      Availability
    </h5>

  <div class="panel-title text-center"
          ng-hide='updateFieldForAvailability'
          ng-click='updateFieldForAvailability = !updateFieldForAvailability'>
          {{information.availability || "Add a note"}}
      </div>

      <div class="panel-title text-center"
            ng-show='updateFieldForAvailability'>
        <div class='row'>

          <div class='col-sm-8'>
            <input  type='text'
                    id='updatedAvailability'
                    ng-model='profileUpdates.availability'
                    ng-value='information.availability'
                    placeholder="information.availability">
          </div>

          <div class='col-sm-2'>
            <span class="glyphicon glyphicon-remove"
                  aria-hidden="true"
                  ng-click='updateFieldForAvailability = false'>
            </span>
          </div>

          <div class='col-sm-2'>
            <span class="glyphicon glyphicon-ok"
                  aria-hidden="true"
                  ng-click='update(); updateFieldForAvailability = false'>
            </span>
          </div>

        </div>
      </div>
</div>


</div>

<!-- Programming languages -->
 <div class="panel panel-default visible-md-block visible-lg-block">
  <div class="panel-body">
    <h5 class="m-t-0">
      Programming Languages
      <small>·
        <a href="#">Edit</a>
      </small>
    </h5>
    <div ng-repeat="pl in information.profile_languages" >
    <div class="form-control"
          ng-click="showEditPL[pl.language_id] = !showEditPL[pl.language_id]"
          ng-show="!showEditPL[pl.language_id]"
          style="border-style: none !important">
          <img src="{{languages[pl.language_id-1].url}}"
              style="width:20px;margin:5px">
          {{expLevel[pl.difficulty_id]}}
    </div>
    <input  type="text"
            class="form-control"
            ng-show="showEditPL[pl.language_id]">
  </div>
  </div>
</div>
