<h1>profile</h1>

<div class="panel panel-default panel-profile m-b-md">
  <div class="panel-heading" style="background-image: url(assets/iceland.jpg);"></div>
  <div class="panel-body text-center">
    <a href="profile/index.html">
      <img
        class="panel-profile-img"
        src="assets/avatar-dhg.png">
    </a>

    <h5 class="panel-title">
      <a class="text-inherit" href="profile/index.html">Dave Gamache</a>
    </h5>

    <p class="m-b-md">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

    <ul class="panel-menu">
      <li class="panel-menu-item">
        <a href="#userModal" class="text-inherit" data-toggle="modal">
          Friends
          <h5 class="m-y-0">12M</h5>
        </a>
      </li>

      <li class="panel-menu-item">
        <a href="#userModal" class="text-inherit" data-toggle="modal">
          Enemies
          <h5 class="m-y-0">1</h5>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default visible-md-block visible-lg-block">
  <div class="panel-body">
    <h5 class="m-t-0">About <small>· <a href="#">Edit</a></small></h5>
    <div class="form-control" 
      ng-show="!showEditAbout" 
      ng-click="showEditAbout = !showEditAbout" 
      style="border-style: none !important">
      {{information.about}}
    </div>
    <input class="form-control" 
            type="text" 
            ng-show="showEditAbout" 
            ng-model="information.about">

    <h5 class="m-t-0">Availability <small>· <a href="#">Edit</a></small></h5>
    <div class="form-control" 
          ng-show="!showEditAvailability" 
          ng-click="showEditAvailability = !showEditAvailability" 
          style="border-style: none !important">
      {{information.availability}}
    </div>

    <input type="text" 
            class="form-control" 
            ng-show="showEditAvailability" 
            ng-model="information.availability">
  </div>
</div>

 <div class="panel panel-default visible-md-block visible-lg-block">
  <div class="panel-body">
    <h5 class="m-t-0">Programming Languages <small>· <a href="#">Edit</a></small></h5>
    <div ng-repeat="pl in information.profile_languages" >
    <div class="form-control" 
          ng-click="showEditPL[pl.language_id] = !showEditPL[pl.language_id]"
          ng-show="!showEditPL[pl.language_id]"
          style="border-style: none !important">
      {{languages[pl.language_id]}}: {{expLevel[pl.difficulty_id]}}
    </div>
    <input type="text" 
          class="form-control" 
          ng-show="showEditPL[pl.language_id]">
  </div>
  </div>
</div>















<div class="panel">
  <div class="panel-body">
    <img src="{{information.photo_id}}">
  </div>
  <div class="panel-body">
    <div class="col-md-6">


    </div>

    <div class="col-md-6">


    </div>
    <button class="btn btn-danger">
      Cancel
    </button>
    <button class="btn btn-info">Save</button>
  </div>
</div>



{{information}}