<ui-view>
<hr><hr>
<!-- Languages -->
<div class="row">
  <div class="col-sm-1 col-sm-offset-2">

  </div>
  <div class="col-sm-1" ng-repeat="language in languages">
      <button class="btn btn-default btn-block" ng-click='addLang(language)'
              ng-class='{"active": langFilter[language]}'>{{language}}</button>
  </div>
</div>
<br>
<!-- End Languages -->
<!-- <main>
<br>


<div class="row">
  <div class="col-md-10">
    <h2>Projects</h2>
    <hr>
    <div class="col-md-6" ng-repeat="project in projects">
      <h4>{{project.title}}</h4>
      Project Owner: <h5>{{project.owner.email}}</h5>
      Est. Difficulty:<h5>{{project.difficulty_name}}</h5>
    </div>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <button ui-sref="projects.new" class="btn btn-primary pull-right">New Project</button>
  </div>
</main> -->
</div>
                  <div class="container-fluid">

            <div class="page-header">
              <h1 class="h3 pull-left margin-none">Library</h1>
              <div class="pull-right">
                <div class="btn-group">
                  <a class="btn btn-default" href="library.html"><i class="fa fa-list"></i></a>
                  <a class="btn bg-gray-dark" href="library-grid.html"><i class="fa fa-th"></i></a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="row" data-toggle="gridalicious" data-gutter="30">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><a href="lesson.html">Github Webhooks for Beginners</a></h3>
                </div>
                <div class="panel-body">
                  <div class="media media-clearfix-sm">
                    <div class="media-left">
                      <a href="lesson.html">
                        <span class="media-object icon-block bg-default"><i class="fa fa-github"></i></span>
                      </a>
                    </div>
                    <div class="media-body">
                      <p class="small text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 4 hrs
                        <i class="fa fa-user fa-fw"></i> Adrian Demian
                        <i class="fa fa-calendar fa-fw"></i> 21/10/14
                      </p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                      <span class="label bg-gray-dark">New</span>
                      <span class="label label-default">WordPress</span>
                      <span class="label label-default">Beginner</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><a href="lesson.html">CSS Processing with LESS</a>
                    <small class="text-muted"><i class="fa fa-clock-o fa-fw"></i> 4 hrs</small>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="media media-clearfix-sm">
                    <div class="media-left">
                      <a href="lesson.html">
                        <span class="media-object icon-block bg-primary"><i class="fa fa-css3"></i></span>
                      </a>
                    </div>
                    <div class="media-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi impedit magni quae quas? Beatae error est minus nesciunt nihil nobis quidem quod quos sequi similique.</p>
                      <span class="label label-primary">New</span>
                      <span class="label label-default">WordPress</span>
                      <span class="label label-default">Beginner</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><a href="lesson.html">Portable Environments with Vagrant</a>
                    <small class="text-muted"><i class="fa fa-clock-o fa-fw"></i> 2 hrs</small>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="media media-clearfix-sm">
                    <div class="media-left">
                      <a href="lesson.html">
                        <span class="media-object icon-block bg-lightred"><i class="fa fa-windows"></i></span>
                      </a>
                    </div>
                    <div class="media-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis est explicabo officia quis reiciendis ut. Deleniti eveniet in necessitatibus quas qui voluptatem. Asperiores.
                      </p>
                      <span class="label bg-lightred">New</span>
                      <span class="label label-default">WordPress</span>
                      <span class="label label-default">Beginner</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><a href="lesson.html">WordPress Theme Development</a></h3>
                </div>
                <div class="panel-body">
                  <div class="media media-clearfix-sm">
                    <div class="media-left">
                      <a href="lesson.html">
                        <span class="media-object icon-block bg-brown"><i class="fa fa-wordpress"></i></span>
                      </a>
                    </div>
                    <div class="media-body">
                      <p class="small text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 4 hrs
                        <i class="fa fa-user fa-fw"></i> Adrian Demian
                        <i class="fa fa-calendar fa-fw"></i> 21/10/14
                      </p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, esse id ipsa, molestias odio quae quasi quidem recusandae repellat unde ut voluptatem voluptatibus? Animi, provident.</p>
                      <span class="label bg-brown">New</span>
                      <span class="label label-default">WordPress</span>
                      <span class="label label-default">Beginner</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><a href="lesson.html">Writing Modular JavaScript</a></h3>
                </div>
                <div class="panel-body">
                  <div class="media media-clearfix-sm">
                    <div class="media-left">
                      <a href="lesson.html">
                        <span class="media-object icon-block bg-purple"><i class="fa fa-jsfiddle"></i></span>
                      </a>
                    </div>
                    <div class="media-body">
                      <p class="small text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 4 hrs
                        <i class="fa fa-user fa-fw"></i> Adrian Demian
                        <i class="fa fa-calendar fa-fw"></i> 21/10/14
                      </p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque est itaque maiores, reiciendis vel? Ad eligendi eum exercitationem facilis natus placeat qui rem totam.</p>
                      <span class="label bg-purple">New</span>
                      <span class="label label-default">WordPress</span>
                      <span class="label label-default">Beginner</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><a href="lesson.html">Online Payments with Stripe</a></h3>
                </div>
                <div class="panel-body">
                  <div class="media media-clearfix-sm">
                    <div class="media-left">
                      <a href="lesson.html">
                        <span class="media-object icon-block bg-default"><i class="fa fa-cc-visa"></i></span>
                      </a>
                    </div>
                    <div class="media-body">
                      <p class="small text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 4 hrs
                        <i class="fa fa-user fa-fw"></i> Adrian Demian
                        <i class="fa fa-calendar fa-fw"></i> 21/10/14
                      </p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                      <span class="label bg-gray-dark">New</span>
                      <span class="label label-default">WordPress</span>
                      <span class="label label-default">Beginner</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
</ui-view>