<hr><hr>
<ui-view>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <input  type="text" ng-model="newProject.title" placeholder="title">
    <input type="text" ng-model="newProject.description" placeholder="description">
    <br>
    <br>
    <div ng-repeat="language in languages" >
      <input type="checkbox" ng-model="langFilter[language]"
        ng-checked="langFilter[language]"> {{language}} <br>
    </div><br>
    Difficulty: <select ng-model="newProject.difficulty_id">
    </div>
      <option value="1" id="">Beginner</option>
      <option value="2" id="">Intermediate</option>
      <option value="3" id="">Advanced</option>
      <option value="4" id="">Expert</option>
    </select>
    <br>
    <br>
    <div availability-selector></div>
    <hr>
    <button class="btn btn-primary" ng-click="submit()">
      Submit
    </button>
  </div>
</div>
</ui-view>