
<ui-view>
<div class="row">
  <div class="col-md-1" ng-repeat="language in languages"></div>
</div>
<main>
<br>
  <h2>Projeckts</h2>
  <h5 ng-click="update()">update</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
</main>

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media media-clearfix-xs-min">
                  <div class="media-left">
                    <a href="lesson.html">
                      <span class="media-object icon-block bg-primary"><i class="fa fa-css3"></i></span>
                    </a>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading h4"><a href="lesson.html">CSS Processing with LESS</a>
                      <small class="text-muted"><i class="fa fa-clock-o fa-fw"></i> 4 hrs</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cumque dolores eligendi excepturi expedita hic in inventore ipsum laborum natus nihil officia, officiis placeat quam recusandae sequi sit unde voluptatem voluptatum.
                      Aliquid at consequuntur cupiditate dolores eius, eveniet expedita id impedit incidunt libero magni officia officiis perspiciatis possimus quo.</p>
                    <span class="label label-primary">New</span>
                    <span class="label label-default">WordPress</span>
                    <span class="label label-default">Beginner</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media media-clearfix-xs-min">
                  <div class="media-left">
                    <a href="lesson.html">
                      <span class="media-object icon-block bg-lightred"><i class="fa fa-windows"></i></span>
                    </a>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading h4"><a href="lesson.html">Portable Environments with Vagrant</a>
                      <small class="text-muted"><i class="fa fa-clock-o fa-fw"></i> 2 hrs</small>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cumque dolores eligendi excepturi expedita hic in inventore ipsum laborum natus nihil officia, officiis placeat quam recusandae sequi sit unde voluptatem voluptatum.
                      Aliquid at consequuntur cupiditate dolores eius, eveniet expedita id impedit incidunt libero magni officia officiis perspiciatis possimus quo.</p>
                    <span class="label bg-lightred">New</span>
                    <span class="label label-default">WordPress</span>
                    <span class="label label-default">Beginner</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media media-clearfix-xs-min">
                  <div class="media-left">
                    <a href="lesson.html">
                      <span class="media-object icon-block bg-brown"><i class="fa fa-wordpress"></i></span>
                    </a>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading h4"><a href="lesson.html">WordPress Theme Development</a></h3>

                    <p class="small text-muted">
                      <i class="fa fa-clock-o fa-fw"></i> 4 hrs
                      <i class="fa fa-user fa-fw"></i> Adrian Demian
                      <i class="fa fa-calendar fa-fw"></i> 21/10/14
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque beatae, commodi consequatur cumque delectus dicta dolore dolorem et eum impedit in iure laborum minima minus modi mollitia neque nesciunt nostrum quae quod ratione
                      repudiandae rerum saepe sapiente tenetur veritatis voluptatibus. Dolorem eligendi et laudantium omnis pariatur possimus.</p>
                    <span class="label bg-brown">New</span>
                    <span class="label label-default">WordPress</span>
                    <span class="label label-default">Beginner</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-body">
                <div class="media media-clearfix-xs-min">
                  <div class="media-left">
                    <a href="lesson.html">
                      <span class="media-object icon-block bg-purple"><i class="fa fa-jsfiddle"></i></span>
                    </a>
                  </div>
                  <div class="media-body">
                    <h3 class="media-heading h4"><a href="lesson.html">Writing Modular JavaScript</a></h3>

                    <p class="small text-muted">
                      <i class="fa fa-clock-o fa-fw"></i> 4 hrs
                      <i class="fa fa-user fa-fw"></i> Adrian Demian
                      <i class="fa fa-calendar fa-fw"></i> 21/10/14
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque beatae, commodi consequatur cumque delectus dicta dolore dolorem et eum impedit in iure laborum minima minus modi mollitia neque nesciunt nostrum quae quod ratione
                      repudiandae rerum saepe sapiente tenetur veritatis voluptatibus. Dolorem eligendi et laudantium omnis pariatur possimus.</p>
                    <span class="label bg-purple">New</span>
                    <span class="label label-default">WordPress</span>
                    <span class="label label-default">Beginner</span>
                  </div>
                </div>
              </div>
            </div>

          </div>

</ui-view>

