<!-- Days -->
<div class="row text-center">
  <b>Select days</b>
</div><br>

<div class="row">
  <div class="col-sm-3" ng-repeat="(day,value) in days">
    <button class="btn btn-default btn-block"
            style="margin:10px"
            ng-click='addDay(day)'
            ng-class='{"active": days[day]}'>
            <small>{{day}}</small>
    </button>
  </div>
</div>

<!-- Start time -->
<div class='row'>
  <div class='col-sm-2'>
    <br>Start Time: {{start.hour}}:{{start.minute}}
  </div>
  <div class='col-sm-2'>
    <select ng-model="start.hour" id="">
      <option value="" disabled selected>Hour</option>
      <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
    </select>
  </div>
  <div class='col-sm-2'>
    <select ng-model="start.minute" id="">
      <option value="" disabled selected>Minute</option>
      <option ng-repeat="minute in minutes" value="{{minute}}">{{minute}}</option>
    </select>
  </div>
  <div class='col-sm-2'>
    <select ng-model="start.am" id="">
      <option value="" disabled selected>AM/PM</option>
      <option ng-repeat="(key, value) in amPm" value="{{key}}">{{value}}</option>
    </select>
  </div>
</div>


<!-- End time -->
<br>
End Time: <span ng-if='end'>{{end.hour}}:{{end.minute}} </span>
<select ng-model="end.hour" id="">
  <option value="" disabled selected>Hour</option>
  <option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</option>
</select>
<select ng-model="end.minute" id="">
  <option value="" disabled selected>Minute</option>
  <option ng-repeat="minute in minutes" value="{{minute}}">{{minute}}</option>
</select>
<select ng-model="end.am" id="">
  <option value="" disabled selected>AM/PM</option>
  <option ng-repeat="(key, value) in amPm" value="{{key}}">{{value}}</option>
</select>
<br><br>
<button ng-click="addTimeslot()" class="btn btn-default">Add Timeslot</button>