<div class="checkbox custom-control custom-checkbox">
  <label>
    <input type="checkbox"  ng-model="formData.ruby">
    <span class="custom-control-indicator"></span>
    Check this custom checkbox
  </label>
</div>
<div class="checkbox custom-control custom-checkbox">
  <label>
    <input type="checkbox"  ng-model="formData.javascript" checked>
    <span class="custom-control-indicator"></span>
    This custom checkbox is checked
  </label>
</div>
<div class="checkbox custom-control custom-checkbox">
  <label>
    <input type="checkbox" disabled>
    <span class="custom-control-indicator"></span>
    This custom checkbox is disabled
  </label>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <br>
    <a ui-sref="home.form.availability" class="btn btn-block btn-primary">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>