<form>
<div class="checkbox custom-control custom-checkbox" ng-repeat="language in languages">
  <label>
    <input type="checkbox" ng-model="profileInput[language]" ng-true-value="'Select Exp Level'" ng-false-value="">
    <span class="custom-control-indicator"></span>
    {{language}}
  </label>

  <div class="dropdown" ng-show="profileInput[language]">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      {{profileInput[language]}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {{language}}
      <li ng-repeat="level in expLevel" ng-click="setExpLevel(language, level)">
        <span>{{level}}</span>
      </li>
    </ul>
  </div>

</div>
</form>
{{profileInput}}

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <br>
    <a ui-sref="home.form.availability" class="btn btn-block btn-primary">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>