<form>
<div ng-repeat="(languageId, language) in languages" class="row">
  <div class='col-sm-3 col-sm-offset-3'>
    <h6 style="padding-top: 20px !important;">{{language}}</h6>
  </div>
  <div class="dropdown col-sm-6">
    <button class="btn btn-default dropdown-toggle"
            type="button" id="dropdownMenu1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true">
      {{  expLevel[profileInput.profile_languages[languageId]] || 'Experience Level' }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-click="setExpLevel(languageId, 'None')">None</li>
      <li ng-repeat="(levelId, level) in expLevel" ng-click="setExpLevel(languageId, levelId)">
        <span>{{level}}</span>
      </li>
    </ul>
  </div>

</div>
</form>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <br>
    <a ui-sref="home.form.availability" class="btn btn-block btn-primary">
    Next Section  <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
