<div class="row registration-form">
  <div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">

        <div class="page-header text-center">
            <h2>Let's <span class="bangers">Code</span> together</h2>

            <!-- the links to our nested states using relative paths -->
            <!-- add the active class if the state matches our ui-sref -->
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".signup"><span>1</span> Profile</a>
                <a ui-sref-active="active" ui-sref=".languages"><span>2</span> Languages</a>
                <a ui-sref-active="active" ui-sref=".availability"><span>3</span> Availability</a>
            </div>
        </div>


        <!-- use ng-submit to catch the form submission and use our Angular function -->
        <div id="signup-form">
            <!-- our nested state views will be injected here -->
            <div id="form-views" ui-view></div>
        </div>
    </div>
  </div>
</div>