
<div class="container-fluid container-fill-height">
  <div class="container-content-middle">
    <form role="form" name="signinForm"
          ng-submit="processForm(signinForm.$valid)"
          class="m-x-auto text-center app-login-form">

      <a href="../index.html" class="app-brand m-b-lg">
        <br>
        <br>
        <br>
        <br>
        <img src="/assets/brand.png" alt="brand">
      </a>

      <!-- Email -->
      <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid && !signinForm.email.$pristine }">
        <input  class="form-control"
                name="email"
                placeholder="Email"
                ng-model="credentials.email"
                required ng-pattern="emailRegex">

      <p  ng-show="signinForm.email.$invalid &&
          !signinForm.email.$pristine"
          class="help-block">
          Please enter a valid email
      </p>

      </div> <!-- Email End -->


      <!-- Password -->
      <div class="form-group m-b-md" ng-class="{ 'has-error' : signinForm.password.$invalid
                                          && !signinForm.password.$pristine }">
        <input type="password"
                name="password"
                class="form-control"
                placeholder="Password"
                ng-model="credentials.password"
                required ng-minlength="8" ng-maxlength="25">
        <p  ng-show=" signinForm.password.$error.minlength"
            class="help-block">
          Please enter a password more than 8 characters in length
        </p>
        <p ng-show="signinForm.password.$error.maxlength" class="help-block">
          Please enter a password less than 25 characters in length
        </p>
      </div>

      <div class="m-b-lg">
        <button type="submit "class="btn btn-primary">
          Sign In
        </button>

        <button class="btn btn-default"
                ui-sref="home.form.signup">Sign up</button>

        <br>

        <a class="btn btn-default"
            href="/users/auth/github"
            id='github-button-sign-in'>
          Sign in with <b>Github</b>
        </a>

      </div>
    </form>
      <footer class="screen-login m-x-auto text-center app-login-form">
        <a href="#" class="text-muted" ng-click="showResetPasswordForm=!showResetPasswordForm">Forgot password</a>
        <form name="resetPasswordForm"> 
          <div class="form-group" 
                ng-if="showResetPasswordForm" 
                ng-class="{ 'has-error' : resetPasswordForm.resetPasswordEmail.$invalid && 
                                          !resetPasswordForm.resetPasswordEmail.$pristine }">
            <input  class="form-control" 
                    name="resetPasswordEmail"
                    placeholder="Email"
                    ng-model="resetPasswordForm.email"
                    required ng-pattern="emailRegex">

            <p ng-show="resetPasswordForm.resetPasswordEmail.$invalid &&
                !resetPasswordForm.resetPasswordEmail.$pristine"
                class="help-block">
                Please enter a valid email
            </p>
            <br>
            <button type="submit "class="btn btn-primary" ng-click="resetPassword()">
              Send me reset password instructions
            </button>

          </div>
        </form>
      </footer>
  </div>
</div>

