<h1 class="bangers p-text page-header">Tour</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-info" ng-click="myExp='one'">One</button>
          <button class="btn btn-info" ng-click="myExp='two'">Two</button>
          <button class="btn btn-info" ng-click="myExp='three'">Three</button>
        </div>
        <div class="panel-body" ng-switch="myExp" >

            <div ng-switch-when="one" class="my-switch-animation">
                        <table style="height: 170px;">
          <tr><td style="width: 170px;">
             <img src="/img/angular-logo-big.png" alt="AngularJS Logo" style="width: 150px; height: 150px;" />
            </td>
            <td style="width: 470px;">
              <h2>The AngularJS Elevator Pitch</h2>
              <blockquote>
                 <p style="font-size: 13px">"AngularJS is a new, powerful, client-side technology that provides a way of 
                 accomplishing really powerful things in a way that embraces and extends HTML, 
                 CSS and JavaScript, while shoring up some of its glaring deficiencies. It is 
                 what HTML would have been, had it been built for dynamic content."</p>
                <small><cite title="Net Tuts+"><a href="http://net.tutsplus.com/tutorials/javascript-ajax/5-awesome-angularjs-features/">Net Tuts+</a></cite></small>
            </blockquote>
             </td>
             </tr>
             </table>

            </div>
            <div ng-switch-when="two" class="my-switch-animation">
                           <table style="height: 170px;">
          <tr><td style="width: 170px;">
             <img src="/img/angularjs-pitfalls.png" alt="AngularJS Pitfalls" style="width: 150px; height: 150px;" />
            </td>
            <td style="width: 470px;">
              <h2>Model View ViewModel</h2>
              <blockquote>
                 <p style="font-size: 13px">
                AngularJS incorporates the basic principles behind the original MVC software 
                design pattern into how it builds client-side web applications. AngularJS 
                does not implement MVC in the traditional sense, but rather something closer 
                to MVVM (Model-View-ViewModel).</p>
                <small><cite title="AngularJS"><a href="http://zachariahmoreno.com/portfolio/Angular-Slides/#/step-10">
                  Zach Moreno</a></cite></small>
            </blockquote>
                
             </td>
             </tr>
             </table>

            </div>
            <div ng-switch-when="three" class="my-switch-animation">
                         <table style="height: 170px;">
          <tr><td style="width: 170px;">
             <img src="/img/angular-ebook.png" alt="AngularJS Pitfalls" style="width: 150px; height: 150px;" />
            </td>
            <td style="width: 470px;">
              <h2>AngularJS Ebook</h2>
              <blockquote>
                 <p style="font-size: 13px">"Develop smaller, lighter web apps that are simple to create and easy to
                  test, extend, and maintain as they grow. This hands-on guide introduces you to AngularJS, 
                  the open source JavaScript framework that uses MVC architecture, 
                  data binding, client-side templates, and dependency injection ..."</p>
                <small><cite title="AngularJS"><a href="http://www.amazon.com/AngularJS-ebook/dp/B00C9MYA7G">
                  AngularJS Ebook</a></cite></small>
            </blockquote>
             </td>
             </tr>
             </table>

            </div>
          </div>

      </div>