<!DOCTYPE html>
<html>
<head>
  <title>Codelegy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//use.edgefonts.net/vast-shadow:n4:all;megrim.js"></script>
  <script src="/assets/javascript/jquery.grid-a-licious.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
</head>
<body ng-app="app">

<%= yield %>

</body>
</html>
